@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Sriracha&display=swap');

:root{
    --font1: Arial, Helvetica , sans-serif;
    --font2: 'Dancing Script', cursive;
}

*{
    padding:0px;
    margin: 0px;
}
body{
    background-color: rgb(19, 17, 17);
}
header{
    background-color: #4D5FEA;
    color: white;
    font-family: var(--font2);
    padding: 20px;
    
    
}
nav{
    background-color: #4D5FEA;
    text-align: right;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
nav > a{
    color: white;
    text-decoration: none;
    padding: 10px;
}
main{
    font-family: var(--font1);
    font-size: 20px;
    background-color:#030f66c0;
    color: white;
    max-width: 1000px;
    height: 1000px;
    margin: auto;
    margin-top: 20px;
    border-radius: 20px;
}
main > article> h1, p{
    padding: 20px;
}
table{
    width: 300px;
    text-align: center;
    border:2px solid white;
    border-collapse: collapse;
}
td, th{
    border: 1px solid black;
}


#convert{
    margin: auto;
}

